.filter-form {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.filter-form__select-wraper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter-form__input-wrapper {
  width: calc((100% - 8px) / 2);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (min-width: 1440px) {
  .filter-form__select-wraper {
    width: calc((100% - 24px) / 2);
  }

  .filter-form__input-wrapper {
    width: calc((100% - 24px) / 6);
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .marks__filter-btn {
    width: calc((100% - 24px) / 6);
  }
}
