.statistics {
  margin-bottom: 40px;
}

.statistics__title {
  margin-top: 40px;
  font-size: 32px;
  font-family: var(--accent-font);
  text-align: center;
}

.chart-info-item {
  padding: 8px 16px;
  border: 1px solid var(--accent);
  border-radius: 4px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}

.chart-info .value {
  color: var(--dark-accent-2);
  font-weight: 400;
}

.statistics__chart-info {
  margin-top: 32px;
}

.filter-form__filter-btn {
  width: 100%;
  padding: 8px 16px;
}

@media screen and (min-width: 784px) {
  .chart-info-item {
    flex-direction: row;
    gap: 16px;
  }

  .chart {
    width: 50% !important;
  }

  .statistics__chart-info {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
